In [1]:
#1
print('el espacio muestral es de',2**10)

el espacio muestral es de 1024

In [2]:
import math as m
c=(m.factorial(10))/((m.factorial(3))*(m.factorial(7)))
c

120.0

In [26]:
import pandas as pd
df= pd.DataFrame({'Si':[148,162,296,252],
'No':[52,54,74,48]}, index=['Norte','Noreste','Sur','Centro'])
df=df/(sum(df.sum()))
df.loc[5]=sum(df.Si), sum(df.No)
df.rename(index={5:'Total'},inplace=True)
df['Total']=df['Si']+df['No']
df

               Si        No     Total
Norte    0.136280  0.047882  0.184162
Noreste  0.149171  0.049724  0.198895
Sur      0.272560  0.068140  0.340700
Centro   0.232044  0.044199  0.276243
Total    0.790055  0.209945  1.000000

In [37]:
def baraja(t):
    if t=='negra'or t=='roja':
        return ('La probabilidad de obtener una carta', t,' es', 26/52)
    elif t=='trebol' or t=='pica' or t=='diamante' or t=='corazon':
        return ('La probabilidad de obtener una carta', t,' es', 13/52)
    else:
        return ('Debe ingresar roja, negra, diamante, pica, corazon o trebol')

In [40]:
n='trebol'
baraja(n)

('La probabilidad de obtener una carta', 'trebol', ' es', 0.25)